@font-face {
    font-family: LodrinaSolid;
    font-weight: 700;
    src: url("../fonts/Lodrina\ Solid/LondrinaSolid-Black.woff")format("woff");
}
@font-face {
    font-family: LodrinaSolid;
    font-weight: 600;
    src: url("../fonts/Lodrina\ Solid/LondrinaSolid-Light.woff")format("woff");
}
@font-face {
    font-family: LodrinaSolid;
    font-weight: 500;
    src: url("../fonts/Lodrina\ Solid/LondrinaSolid-Regular.woff")format("woff");
}
@font-face {
    font-family: LodrinaSolid;
    font-weight: 400;
    src: url("../fonts/Lodrina\ Solid/LondrinaSolid-Thin.woff")format("woff");
}
