$bg-white:#ffff;
$bg-orange:orange;
$bg-black:black;
$bg-orange107:#ffc107;
$bg-yellow:rgb(250, 246, 14);
$bg-reddark:#6a040f;

$text-border-black:#111;

$text-white:#ffff;
$text-black:black;
$text-orange107:#ffc107;